@import '../../.cache/hellwal/waybar-colors.css';

/* 全局设置 */
* {
  font-family: "FiraCode Nerd Font Mono";
  font-weight: bold;
  font-size: 14px;
  color: @foreground;
}

/* 透明 Waybar 背景 */
#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}


#window{
  background-color: @background;
  margin-top: 4px; /* 与屏幕顶部留出距离 */
  /*margin-bottom: 4px;*/
  padding: 4px 2px; /* 保持内部间距 */
  border-width: 0px;

}

#workspaces,
#custom-power,
#custom-lock,
#tray,
#clock,
#network,
#custom-reboot,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#custom-temperature,
#memory,
#cpu{
  background-color: @background;
  margin-top: 4px; /* 与屏幕顶部留出距离 */
  /*margin-bottom: 4px;*/
  padding: 4px 2px; /* 保持内部间距 */
  border-width: 0px;
}

/*#custpm-temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}*/

/* 鼠标悬停变亮一点 */
/*#bluetooth:hover,
#network:hover,
#tray:hover,
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#workspaces:hover,
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}*/

#workspaces button:hover{
  background-color: @color3;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: @color8; 
  color: @color2;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: @color2;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#window {
  font-weight: 500;
  font-style: italic;
}
